.game_board {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
}

.panel {
  width: 32%;
  height: 33%;
}

[data-id="1"] {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

[data-id="3"] {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
}

[data-id="5"] {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

[data-id="7"] {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
